POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=postgres
POSTGRES_DB_VOLUME=./postgres-data:/var/lib/postgresql/data

SECRET_KEY=secret_key
SENT_EMAILS_FOLDER=sent_emails
LOG_FILENAME = 'log.log'

TF_CPP_MIN_LOG_LEVEL=3
