{% extends 'base.html' %}

{% block title %}Emotions{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Upload"/>
</form>

<br><br>
{% if input %}
<p>input</p>
<img src="{{ input }}">
{% endif %}
{% if output %}
<p>result</p>
<img src="{{ output }}">
<br><br>
<div>
    jpg
    <a href="{{ output }}" download> download Image</a>
</div>

{% endif %}
{% if info %}
<div>
    json
    <a href="data:text/json;charset=utf-8,{{ info}}" download="data.json">download JSON</a>
</div>
{% endif %}
{% endblock %}
