{% extends "base.html" %}

{% load static %}

{% block title %}History{% endblock %}

{% block extrahead %}
<link href="{% static '/css/imageclassifier_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Image Classifier history</h2>

<div class="d-flex align-items-center justify-content-center">

    <div class=".text-center p-3">
        {% for image_classifier in page_obj %}
        <div class="card m-4">
            <div>{{ image_classifier.date_time }}</div>
            {% if image_classifier.description %}
            <div>description: {{ image_classifier.description}}</div>
            {% endif %}
            {% if image_classifier.output_info %}
            <div>
                json
                <a href="data:text/json;charset=utf-8,{{ image_classifier.output_info}}" download="data.json">download
                    JSON</a>
            </div>
            {% endif %}
            <br>
            <img src="{{ image_classifier.input.url }}" alt="input" width="45%" class="zoom">

            {% if image_classifier.output %}
            <img src="{{ image_classifier.output.url }}" alt="result" width="45%" class="zoom">
            {% endif %}
        </div>
        <br><br>
        {% endfor %}
    </div>
</div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block extrascript %}{% endblock %}
