{% extends 'base.html' %}

{% load static %}

{% block title %}Classifier{% endblock title %}

{% block extrahead %}
<link href="{% static '/css/upload_img.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Emotion classifier</h1>
<form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-outline-dark" id="upload" value="Upload" required onclick="process(this.form)" />
</form>

<div id="processing">
    <h3>Processing...</h3>
</div>

<br><br>
<div>
    {% if input %}
    <h2>Input</h2>
    <img class="emotion-image" src="{{ input }}">
    {% endif %}
    {% if output %}
    <h2 class="mt-5">Result</h2>
    <img class="emotion-image" src="{{ output }}">
</div>

<br><br>
<div>
    jpg
    <a href="{{ output }}" download style="text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em black;"> download Image</a>
</div>

{% endif %}
{% if info %}
<div>
    json
    <a href="data:text/json;charset=utf-8,{{ info}}" style="text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em black;" download="data.json">download JSON</a>
</div>
{% endif %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/upload_img.js' %}"></script>
{% endblock %}


